<main>
	{% if post_list %} {% for post in post_list %}
	<div id="post" class="section">
		<div class="columns is-centered is-half">
			<div class="column is-8">
				<div id="text" class="container">
					<div class="notification is-warning">
						<h2 class="title">{{ post.title }}</h2>
						<p class="text">{{ post.content }}</p>
						<div>
							by <a href="{{ post.author_link }}">{{ post.author_name }}</a>
						</div>
						<button
							style="margin-top: 1em"
							class="button is-fullwidth is-warning is-light"
						>
							Share
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %} {% endif %}
</main>
