<nav
  class="bg-primary-100 dark:bg-primary-800 md:mt-2 w-auto h-10 md:border-b-2 md:border-r-2 border-primary-900 sm:border-b-0 sm:border-r-0">
  <ul class="text-primary-900 py-auto h-full flex items-center justify-center font-primary">
    <li class="md:px-10 md:mx-5 px-5 dark:text-primary-100">
      <a href="#" class="hover:text-primary-800 dark:hover:text-primary-900">About</a>
    </li>
    <li class="md:px-10 md:mx-5 px-5 dark:text-primary-100">
      <a href="#" class="hover:text-primary-800 dark:hover:text-primary-900">Home</a>
    </li>
    <li class="md:px-10 md:mx-5 px-5 dark:text-primary-100">
      <a href="#" class="hover:text-primary-800 dark:hover:text-primary-900">Contact</a>
    </li>
  </ul>
</nav>