@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.font-primary {
	font-family: "Roboto Slab", serif;
}

.font-secondary {
	font-family: "Merriweather", serif;
}

#first-image {
	background-image: url("../img/pexels-photo-2663803.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#second-image {
	background-image: url("../img/pexels-photo-2877080.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#third-image {
	background-image: url("../img/pexels-photo-5331952.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
